{% extends 'base.html.twig' %}

{% block title %}Détail d'une catégorie{% endblock %}

{% block body %}
    <h1>Détail d'une catégorie</h1>

    {# pour récupérer le nom de la catégorie  qui est dans le toString  du fichier Category.php}
    {# et on récupère le nom  #}
    <h2>{{ category }}</h2>
      <p> 
         Identifiant de la catégorie : <b>{{  category.id }}</b>
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium nobis quod sit debitis id repudiandae minima ipsam ut enim doloremque. Aliquam consectetur, perspiciatis voluptatem beatae minima quisquam libero dicta eos!
      </p>


{% endblock %}