{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}

<h1>Liste des utilisateurs</h1>

    {% for user in users %}

    {{ user.id ~ ' (' ~ user.lastName ~ ' ' ~ user.firstName ~ ' ' ~ user.avatar ~ ' )'}} <br> 
    
    {# pour détailler la liste on ajoute le lien #}
    {# <a href="{{ path('show_user', {'id': user.id}) }}">{{ user }}</a><br> #}

    {% endfor %}
{% endblock %}
